name: Ping Render Every 20s

on:
  schedule:
    - cron: "* * * * *"
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render
        run: |
          for i in 1 2 3; do
            curl -s https://telegrambot-1-fjs6.onrender.com > /dev/null
            sleep 20
          done
